
<div>
  <app-widget-area></app-widget-area>
</div>

<mat-divider></mat-divider>

<br>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <app-widget-card label="Total Customers" total="26" > Stats </app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
<app-widget-card label= "Remaining Containers" total="20" percentage="15" mat-icon = false> Stats </app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card label="Total # of Rentals" total="40"> Stats </app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card label="Containers diverted from Landfill" total="40"> Stats </app-widget-card>
  </mat-card>
</div>



<mat-divider></mat-divider>

<div>
  <div>Table Chart</div>
</div>
