
<div>
  <app-widget-area></app-widget-area>
</div>

<mat-divider></mat-divider>

<br>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <app-widget-card label="Total Customers" total="26" > Stats </app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
<app-widget-card label= "Remaining Containers" total="20" percentage="15" mat-icon = false> Stats </app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card label="Total # of Rentals" total="40"> Stats </app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card label="Containers diverted from Landfill" total="40"> Stats </app-widget-card>
  </mat-card>
</div>


<br>
<mat-divider></mat-divider>
<h2>Latest Customer Transactions</h2>
<div *ngFor="let user of users$ | async">
  <mat-card>
  <h3> {{user.name}}</h3>
<p>Customer id: {{user.id}}</p>
<!--<p>Description: {{user.description}}</p>-->
<p>Container_QR:{{user.customer_QR}}</p>
<p>total rentals: {{user.total_rentals}}</p>
<p>last checkout timestamp: {{user.last_timestamp | date: 'medium'}}</p>
<p>feedback: {{user.feedback}}</p>

</mat-card>
<br>
</div>

<br>




